.hello{
    border-radius: 75%;
}
.hello-2{
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 100%;
    animation: ball-fall 3s ease-in-out forwards;
}


@keyframes ball-fall {
0% {
  transform: translatex(200px);
}
100% {
  transform: translatex(-400px);
    } }